
*{
background-color: @maya_outliner_background;
color: @maya_white_text;
}
QTreeView::item{
background-color: @maya_outliner_background;
color: @maya_white_text;
}
QTreeView::item:selected{
background-color: @maya_blue_selection;
color: @maya_white_text;
}
QHeaderView::section{
background-color: @maya_outliner_background;
color: @maya_white_text;
}
QLineEdit{
background-color: @maya_negative_space;
color: @maya_white_text;
border: none;
}